{{> header}}

<form method="POST" action="#/registration">
    <div class="row space-top">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label" for="new-make">Email</label>
                <input class="form-control" id="new-make" name="email" type="text">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="new-make">Password</label>
                <input class="form-control" id="new-make" name="password" type="text">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="new-make">Re password</label>
                <input class="form-control" id="new-make" name="rePassword" type="text">
            </div>
            <input type="submit" class="btn btn-primary" value="Registration" />
        </div>
    </div>
</form>

{{> footer}}